.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s ease-in-out;
}
.ex-1-square:hover{
    background-color: red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s ease-in-out;
}
.ex-2-square:active{
    width: 100%;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s ease-in-out;
}
.ex-3-square:hover{
    border-radius:50%;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 2s ease-in;
}
.ex-4-square:hover{
    opacity: 0;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transform:scale(1.0);
    transition: transform 1s linear;
}
.ex-5-square:hover{
    transform:scale(1.3);
}
.ex-5-square:active{
    transform:scale(.8);
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}
.ex-7-img{
    filter: sepia(0%) opacity(100%);
    transition: filter 2s ease-in-out;
}
.ex-7-img:hover{
    filter: sepia(80%) opacity(60%);
}
.ex-8-img{
    filter: sepia(0%) grayscale(0%);
    border-radius: 0;
    transition: filter 2s ease-out, border-radius 2s ease;
}
.ex-8-img:hover{
    filter: sepia(60%) grayscale(40%);
    border-radius: 25px;
}
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    filter: opacity(100%) grayscale(0%);
    border-radius: 0px;
    transform:scale(1.0);
    transition: filter 2s ease, border-radius 2s ease-in, transform 2s ease-in-out;
}
.ex-9-img:hover{
    filter: opacity(70%) grayscale(100%);
    border-radius: 25px;
    transform:scale(1.3);
}
.ex-10-icon {
    font-size: 60px;
    animation: my_rotate 1s infinite;
}
@keyframes my_rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover{
    animation: my_rotate_hover 3s infinite;
}
@keyframes my_rotate_hover {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(90deg);
    }
    40%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
    animation: my_animation 2s ease-in-out;
}

.ex-12-top-white{
    animation: my_animation_top 2s ease-in-out;
}
.ex-12-bottom-white{
    animation: my_animation_bottom 2s ease-in-out;
}

@keyframes my_animation_top{
    from {
        left: 10px;
    }
    to {
        left: 80%;
    }
}
@keyframes my_animation_bottom{
    from {
        right: 20px;
    }
    to {
        right: 80%;
    }
}

.ex-13-top-white{
    animation: my_animation_top_02 2s infinite;
}

.ex-13-bottom-white{
    animation: my_animation_bottom_02 2s infinite;
}

@keyframes my_animation_top_02{
    0% {
        left: 10%;
        top: -10px;
    }
    20% {
        left: calc(100% - 50px);
        top: -10px;
    }
    40% {
        left: calc(100% - 50px);
        top: 100%;
    }
    60% {
        left: 0;
        top: 100%;
    }
    80% {
        left: 0px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
@keyframes my_animation_bottom_02 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    20% {
        right: calc(100% - 50px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 50px);
        bottom: 100%;
    }
    60% {
        right: 0;
        bottom: 100%;
    }
    80% {
        right: 0px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}